@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sejam todos bem vindos</h1>
    <p>ao curso de Desenvolvimento de sistemas</p>
    <hr>
    <img src="~/img/home.gif" alt="">
    <hr>
    <a asp-controller="Resposta" asp-action="Create" class="custom-btn btn-3"><span>Responder</span></a>
</div>
